name: Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  ruby:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.3', '2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        fasterer: ['~> 0.10.0', '~> 0.11.0', '< 1.0']
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - name: use specific fasterer version
      run: echo "gem 'fasterer', '${{ matrix.fasterer }}'" > Gemfile.local
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: rake spec
      run: bundle exec rake spec
